/*      regole di formattazione     */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
menu{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

body{
    font-family: 'Open Sans', sans-serif;
}

:root{
    --player-bg: #282828;
    --main-bg: #141922;
    --side-bg: #000000;
    --main-text: #FFFFFF;
    --sub-text: #7B7E82;
    --selected-item: #ADFF2F;
}


/*          LAYOUT          */

.web-app{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-content{
    height: 91vh;
    flex-grow: 1;
    display: flex;
}

.side-bar{
    max-width: 230px;
    min-width: 230px;
}

.app-content__main{
    flex-grow: 1;
    overflow-y: scroll;
}

.player{
    height: 9vh;
    overflow: hidden;
}

.col{
    flex-basis:calc((100%/12)*2);
}







.title{
    color: var(--main-text);
}

.subtitle{
    color: var(--sub-text);
}






/*          SIDE-BAR           */

.side-bar{
    display: flex;
    flex-direction: column;
    
    font-size: 14px;
    background-color: var(--side-bg);
}

.playlist__list{
}

.side-bar>*{
    padding: 20px;
}

.logo-big{
    height: 40px;
}

.logo-small{
    height: 28px;
    aspect-ratio: 1;
    display: none;
}

.side-bar__nav-item__img{
    width: 28px;
    aspect-ratio: 1;
}

.side-bar__nav-item{
    display: flex;
    align-items: center;
    gap: 8px;
}

.side-bar__nav-menu{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#new-playlist{
    line-height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#new-playlist i{
    font-size: 38px;
}

.playlist{
    line-height: 32px;
}


.side-bar__footer{
    margin-top: auto;
}

.download{
    display: flex;
    gap: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--sub-text);
}

.download-icon img{
    width: 14px;
    aspect-ratio: 1;
}

.profile{
    display: flex;
    gap: 10px;
    padding-top: 8px;
    align-items: center;
}

.profile-icon{
    background-color: var(--sub-text);
    background-image: url(../img/profile.svg);
    border-radius: 999px;
    width: 25px;
    aspect-ratio: 1;
    background-position-x: center;
}

.side-bar>*>*:hover{
    color: var(--main-text);
}






/*          MAIN          */

.app-content__main{
    background-color: var(--main-bg);
    overflow-y: scroll;
}

.main__nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    padding-top: 12px;

    font-size: 14px;
}

.main__nav-item:hover{
    color: var(--main-text);
}

section{
    padding: 20px;
}

.row{
    display: flex;
    gap: 15px;
    padding: 30px 0;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.col .title{
    font-size: 12px;
    text-align: center;
}

.col .subtitle{
    font-size: 10px;
    text-align: center;
}







/*          PLAYER          */

.player{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--player-bg);
}

.now-playing{
    display: flex;
    gap: 22px;
    align-items: center;
    padding: 0 11px;
    max-width: 230px;
}

.now-playing__song,
.now-playing__my-library{
    display: flex;
    gap: 13px;
    align-items: center;
}

.now-playing__song-image img{
    min-width: 42px;
    max-width: 42px;
    aspect-ratio: 1;
}

.now-playing__song-name .subtitle:hover{
    text-decoration: underline;
}

.now-playing__my-library i:hover{
    color: var(--main-text);
}









.media-player{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
    width: 50%;
}



.media-player__icons{
    display: flex;
    line-height: 32px;
}

.media-player__side-icon{
    padding: 0 11px;
}

.media-player__icons{
    font-size: 22px;
}

#play-icon{
    font-size: 32px;
    padding: 0 21px;
}

#play-icon:hover{
    font-size: 34px;
}

.media-player__slider{
    display: flex;
    line-height: 38px;
    align-items: center;
    gap: 16px;
    width: 100%;
}

[class$=-time]{
    font-size: 10px;
}

.slider{
    background-color: var(--sub-text);
    height: 4px;
    border-radius: 999px;
}

.media-player__slider .slider{
    flex-grow: 1;
}





.player-settings{
    display: flex;
    gap: 13px;
    align-items: center;
    padding: 0 10px;
}

.player-settings .slider{
    width: 118px;
}

.media-player__slider .slider,
.player-settings .slider{
    position: relative;
}

.media-player__slider .slider .slider,
.player-settings .slider .slider{
    position: absolute;
    background-color: white;
    width: 25%;
    left: 0%;
    top: 0%;
    position: relative;
}

.media-player__slider .slider .slider .circle,
.player-settings .slider .slider .circle{
    position: absolute;
    background-color: white;
    width: 10px;
    border-radius: 999px;
    aspect-ratio: 1;
    right: -3px;
    top: -3px;
    display: none;
}

.media-player__slider .slider:hover .circle,
.player-settings .slider:hover .circle{
    display: block;
}

.media-player__slider .slider:hover .slider,
.player-settings .slider:hover .slider{
    background-color: var(--selected-item);
}









/*        MEDIA QUERY       */


/*BIG TABLET*/
@media (max-width: 991.98px) {

    /*MAIN*/
    .row{
        flex-wrap: wrap;
    }

    .col{
        flex-basis: calc((100%)/4);
    }
}


/*SMALL TABLET*/
@media (max-width: 767.98px) {

    /*PLAYER*/
    .now-playing__song-image img{
        min-width: 38px;
        max-width: 38px;
        aspect-ratio: 1;
    }

    .now-playing__my-library{
        flex-wrap: wrap;
    }

    .player-settings .slider{
        width: 104px;
    }

    .player-settings{
        gap: 6px;
    }

    /*MAIN*/
    .col{
        flex-basis: calc((100%)/2);
    }
}


/*SMARTPHONE*/
@media (max-width: 575.98px) {

    /*LAYOUT*/
    .side-bar{
        max-width: 50px;
        min-width: 50px;
    }

    /*SIDE-BAR*/
    .side-bar>*{
        padding: 12px;
    }

    .logo-big{
        display: none;
    }

    .logo-small{
        display: block;
    }

    .side-bar__nav-item__img{
        width: 22px;
        aspect-ratio: 1;
    }

    .side-bar__nav-item__text{
        display: none;
    }

    .playlist-list{
        display: none;
    }

    .download{
        border-bottom: none;
    }

    .download-text,
    .profile-text{
        display: none;
    }

    /*PLAYER*/
    .now-playing__song-image img{
        min-width: 28px;
        max-width: 28px;
        aspect-ratio: 1;
    }



    .player-settings .slider{
        width: 84px;
    }
}












/*          DEBUG          */

.debug .app-content{
    background-color: tomato;
}

.debug .player{
    background-color: forestgreen;
    padding: 20px;
}

.debug .side-bar{
    border: 2px solid gold;
    padding: 20px;
}

.debug .side-bar>*{
    border: 2px solid blue;
    padding: 20px;
}

.debug .app-content__main{
    border: 2px solid aqua;
    padding: 20px;
}
