/*      regole di formattazione     */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
menu{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

body{
    font-family: 'Open Sans', sans-serif;
}

:root{
    --player-bg: #282828;
    --main-bg: #141922;
    --side-bg: #000000;
    --main-text: #FFFFFF;
    --sub-text: #7B7E82;
    --selected-item: #ADFF2F;
}


/*          LAYOUT          */

.web-app{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-content{
    flex-grow: 1;
    display: flex;
}

.side-bar{
    width: 230px;
}

.app-content__main{
    flex-grow: 1;
}

.player{
    height: 90px;
}



.title{
    color: var(--main-text);
}

.subtitle{
    color: var(--sub-text);
}






/*          SIDE-BAR           */

.side-bar{
    display: flex;
    flex-direction: column;
    
    font-size: 14px;
    background-color: var(--side-bg);
}

.side-bar__list{
    flex-grow: 1;
}

.side-bar>*{
    padding: 20px;
}

.logo img{
    height: 40px;
}

.side-bar__nav-item__img{
    width: 28px;
    aspect-ratio: 1;
}

.side-bar__nav-item{
    display: flex;
    align-items: center;
    gap: 8px;
}

.side-bar__nav-menu{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#new-playlist{
    line-height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#new-playlist i{
    font-size: 38px;
}

.playlist{
    line-height: 32px;
}














/*          PLAYER          */

.player{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--player-bg);

    overflow:hidden;
}

.now-playing{
    display: flex;
    gap: 22px;
    align-items: center;
    padding: 0 11px;
    max-width: 230px;
}

.now-playing__song,
.now-playing__my-library{
    display: flex;
    gap: 13px;
    align-items: center;
}

.now-playing__song-image img{
    min-width: 42px;
    max-width: 42px;
    aspect-ratio: 1;
}









.media-player{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
    width: 50%;
}



.media-player__icons{
    display: flex;
    line-height: 32px;
}

.media-player__side-icon{
    padding: 0 11px;
}

.media-player__icons{
    font-size: 22px;
}

#play-icon{
    font-size: 32px;
    padding: 0 21px;
}


.media-player__slider{
    display: flex;
    line-height: 38px;
    align-items: center;
    gap: 16px;
    width: 100%;
}

[class$=-time]{
    font-size: 10px;
}

.slider{
    background-color: var(--sub-text);
    height: 4px;
    border-radius: 1px;
}

.media-player__slider .slider{
    flex-grow: 1;
}






.player-settings{
    display: flex;
    gap: 13px;
    align-items: center;
    padding: 0 10px;
}

.player-settings .slider{
    width: 118px;
}














/*        MEDIA QUERY       */


/*DESKTOP*/
@media (max-width: 1199.98px) {

}


/*BIG TABLET*/
@media (max-width: 991.98px) {

}


/*SMALL TABLET*/
@media (max-width: 767.98px) {

    /*PLAYER*/
    .now-playing__song-image img{
        min-width: 38px;
        max-width: 38px;
        aspect-ratio: 1;
    }

    .now-playing__my-library{
        flex-wrap: wrap;
    }



    .player-settings .slider{
        width: 104px;
    }

    .player-settings{
        gap: 6px;
    }
}


/*SMARTPHONE*/
@media (max-width: 575.98px) {

    /*LAYOUT*/
    .side-bar{
        width: 50px;
    }

    /*PLAYER*/
    .now-playing__song-image img{
        min-width: 28px;
        max-width: 28px;
        aspect-ratio: 1;
    }



    .player-settings .slider{
        width: 84px;
    }
}












/*          DEBUG          */

.debug .app-content{
    background-color: tomato;
}

.debug .player{
    background-color: forestgreen;
    padding: 20px;
}

.debug .side-bar{
    border: 2px solid gold;
    padding: 20px;
}

.debug .side-bar>*{
    border: 2px solid blue;
    padding: 20px;
}

.debug .app-content__main{
    border: 2px solid aqua;
    padding: 20px;
}
